.toggler {
  border: none;
  background-color: transparent;
  width: 150px;
  height: 50px;
  text-align: left;

  &:after {
    padding: 0 5px;
    content: url('../../../img/vector/post-Shape.png');
    display: inline-block;
  }

}

.toggler_true::after {
  transform: rotate(180deg);
  padding-bottom: 2px;
}
