.header-icons {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.header-icons__lorem-photo {
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 768px) {
  .header-icons__lorem-photo {
    width: 2rem;
    height: 2rem;
  }

  .header-icons__home {
    width: 1.5rem;
    height: 1.5rem;
  }

  .header-icons__exit {
    width: 1.5rem;
    height: 1.5rem;
  }

  .header-icons {
    margin-left: 4rem;
  }
}

@media (max-width: 375px) {
  .header-icons {
    gap: 1rem;
  }

  .header-icons__lorem-photo {
    width: 1.7rem;
    height: 1.7rem;
  }

  .header-icons__exit {
    width: 1.2rem;
    height: 1.2rem;
  }

  .header-icons__home {
    width: 1.2rem;
    height: 1.2rem;
  }
}
